.my_social {
  position: absolute;
  top: 25px;
  left: 25px;
}

.my_social a {
  display: inline-block;
  height: 2.5em;
}

.my_social a img {
  height: 1.5em;
}

/*structural*/
table {
  table-layout: fixed;
}

th {
  position: sticky;
}

thead tr th {
  top: 0;
}

thead tr th:first-of-type {
  left: 0;
  z-index: 1;
}

tbody th {
  left: 0;
}

/*styling*/
/*tbody tr:nth-of-type(odd) td:nth-of-type(odd),
tbody tr:nth-of-type(even) td:nth-of-type(even) {
  background: #eee;
}

th, td {
  text-align: center;
  vertical-align: middle;
}

th {
  padding: 2ch;
  background: #222;
  color: #eee;
}

.containers {
  width: 520px;
  margin: 20px auto;
}

#contact h1 {
  font-family: helvetica;
  font-weight: normal;
  text-align: center;
  color: #c0c0c0;
  padding-top: 50px;
  padding-bottom: 10px;
  width: 375px;
  margin: 0 auto;
}

.cal {
  display: inline-block;
  background: #ffe;
  color: #555;
  font-size: 6px;
  text-align: center;
  transform: scale(1);
  transition: all 0.2s linear;
}

.cal:hover {
  transform: scale(2.5);
  transition: all 0.4s linear;
}

.cal caption {
  background: #d44;
  color: #eee;
  font-size: 15px;
}

.cal th {
  color: #aaa;
  line-height: 200%;
}

.cal th:first-child {
  color: #f00;
}

.cal th:last-child {
  color: #04d;
}

.cal td {
  padding: 0 2px;
  line-height: 100%;
}
